@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 100%;
    /* Intersect blue */
    --foreground: 0 0% 100%;
    /* White */

    --card: 0 0% 100%;
    /* White */
    --card-foreground: 0 0% 0%;
    /* Black */

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 16 100% 50%;
    /* Intersect orange */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 0 0% 60%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    /* use poppins font */
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(83deg, rgba(45, 106, 253, 1) 0%, rgba(45, 106, 253, 1) 55%, rgba(5, 50, 161, 1) 100%);
  }


  html,
  body {
    /* Blue background */
    position: relative;
    overflow-x: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
  }


  body::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 30%;
    background: #F04C2F;
    /* Orange color */
    transform: rotate(135deg);
    z-index: -1;
  }

  body::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 30%;
    background: #F04C2F;
    /* Orange color */
    transform: rotate(135deg);
    z-index: -1;
  }

  body::before {
    top: -10%;
    left: 80%;
  }

  body::after {
    bottom: -1%;
    right: 80%;
  }
}